      <section id="content" role="main" class="clearfix">
                              <div id="content-wrap">
These are the items of JCR Standing Policy.
<h2>Abortion</h2>This JCR believes:

<ol>
	<li>That everyone has a right to impartial and neutral advice on abortion.</li>
	<li>That people who are pregnant should be assisted in making the decision that is right for them.</li>
</ol>

This JCR resolves:

<ol>
	<li>To support a pregnant person's right to choose abortion.</li>
	<li>To condemn directional advice groups such as Life.</li>
	<li>To instigate a ban on advertising helplines such as Life in the JCR and its publications.</li>
</ol>
<h2>Asylum Seekers</h2>This JCR notes:

<ol>
	<li>In Britain refugees are held in detention for an unlimited period (sometimes over a year but frequently longer than 6 months), and while their refugee status is considered they are not informed as to how long they will be detained.</li>
	<li>The conditions in these detention centres are akin to prisons, with restrictions of freedoms such as television viewing, reading, recreation time, visiting hours, contact with visitors (e.g. husbands and wives holding hands is forbidden, or even to sit close to one another) and periods of physical activity outside the jail.</li>
	<li>The detainees are not given an allowance of any sort while their status is considered; hence they are unable to send letters home, make phone calls home, smoke, or purchase little luxuries.</li>
	<li>The detainees are not offered legal advice while in detention nor is it ever officially explained to them why they have been put inside.</li>
	<li>Frequently, basic religious beliefs are denied. For example, in Campsfield Detention Centre security guards refused to remove their shoes in the room which had finally been set aside as a prayer room; food frequently contained pork or beef; male security guards had been used to police female areas.</li>
</ol>

This JCR believes:

<ol>
	<li>Unlimited detention of asylum seekers is wrong.</li>
	<li>The process of assessment of refugee status needs to be faster and fairer.</li>
	<li>Refugees should only be held as a last resort, and then only in reasonable non-prison like conditions while their status is being examined.</li>
	<li>The people who are responsible for them whilst their status is being examined should receive training in refugee issues many refugees, for example, may have particular religious or cultural needs, or may be frightened of people in uniform and need particularly sensitive handling and easy access to medical facilities.</li>
	<li>The current Immigration Act will not make things fairer or faster but merely re-enforce the cultural stereotype that refugees are criminals and scavengers for money.</li>
	<li>That refugees are not criminals, and Britain should do everything in its power at national and local levels to make the assessment process fairer and faster, and to make our society a welcoming environment for those who have suffered discrimination and/or torture on account of their beliefs.</li>
</ol>
<h2>Back Gate</h2>This JCR believes:

<ol>
	<li>That the back gate to College should not be put on the Fellows' Lock at weekends.</li>
</ol>
<h2>Banners</h2>This JCR resolves:

<ol>
	<li>That the JCR red banner, women's banner and LGBTQ banner may be displayed at the sports matches of Balliol teams, or events of which the objectives are positively endorsed by JCR standing policy/standing orders, or at the discretion of the JCR Committee.</li>
	<li>That the Women's and LGBTQ banners may also be displayed at the individual discretion of the Balliol JCR Women's and LGBTQ Officers respectively.</li>
</ol>
<h2>Charges Resulting from Damages</h2>This JCR believes:

<ol>
	<li>That while charges to students are undesirable, it is necessary to ensure that, where possible, charges are do not fall on those not responsible.</li>
	<li>That costs faced by students should not exceed the repair/labour costs associated with the damage.</li>
	<li>That costs arising from damages attributable to an individual should be met by that individual.</li>
	<li>That costs arising from damages arising from JCR Entz events, where the perpetrator cannot be determined, can be considered externalities of JCR Entz and should be charged to the Entz account accordingly.</li>
	<li>That costs arising from damages where the perpetrator cannot be determined, and where there is a possibility that the damages were caused by graduates/fellows/visitors, should be charged to the College Domus account.</li>
	<li>That costs arising from damages, where the perpetrator is shown to be an indeterminable undergraduate, should be considered on a case-by-case basis.</li>
</ol>
<h2>College &amp; University Investments</h2>This JCR believes:

<ol>
	<li>That the investment decisions of the College and the University should be driven not only by financial considerations, but also social, ethical and environmental concerns.</li>
	<li>That, to name two examples, investing in the arms trade or the fossil fuel industry is not ethically justifiable.</li>
</ol>

This JCR resolves:

<ol>
	<li>To lobby the College and the University to divest their investments from all ethically unjustifiable funds.</li>
</ol>
<h2>College Cost Increases</h2>This JCR notes:

<ol>
	<li>That while any increases are undesirable the JCR should define its priorities for negotiating new charges to students.</li>
	<li>That it is preferable to increase 'voluntary' charges (such as the price of food in Hall) than compulsory 'fixed' charges (such as the fixed Kitchen Amenities Charge).</li>
	<li>That it is important, insofar as fixed charges are instituted, that some form of means testing is included in order to account for the variation in individual students' capacities to pay.</li>
	<li>That any proposed increases should be fully justified and any relevant figures made available by College to the JCR President before these increases are implemented.</li>
	<li>That any increased costs to students should be demonstrably in line with College-wide cost-cutting and contributions from other College members, whilst bearing in mind the typically precarious financial situation of students.</li>
</ol>
<h2>Conferences in College</h2>This JCR believes:

<ol>
	<li>That the use of College facilities for&nbsp;functions organised or completely attended by groups other than College members, should not take precedence over undergraduate requirements, whether&nbsp;in or out of term time.</li>
</ol>
<h2>Contraception</h2>This JCR believes:

<ol>
	<li>That contraception should be free and that everyone should have the right to decide when and if they want children.</li>
</ol>

This JCR resolves:

<ol>
	<li>To&nbsp;oppose government charges for the contraceptive pill.</li>
</ol>
<h2>Discrimination</h2>This JCR believes:

<ol>
	<li>That gender stereotyping of men and women still exists worldwide and is unfair and unacceptable.</li>
	<li>That as a result of this women have tended to be denied opportunities in all avenues of life, particularly in education and the workplace.</li>
	<li>No one should be discriminated against, harassed or marginalized on the basis of their gender.</li>
	<li>That given women are in the significant minority at Balliol, it is valuable to have a Women's officer providing welfare, representing women's interests within Balliol, to the university and OUSU, and coordinating events.</li>
	<li>That the potential discrimination against women behind the finals gap is concerning, and investigation into this gap is a valuable and important process.</li>
</ol>
<h2>Domus Charge</h2>This JCR notes:

<ol>
	<li>The planned introduction of the Domus Charge by the College in 2011,&nbsp;which was a regressive levy on all students regardless of background&nbsp;or use of services, representing up to 30% of undergraduates' available&nbsp;money after rent.</li>
	<li>That the JCR fought against this, and college backed down on the Domus&nbsp;Charge's introduction.</li>
	<li>That the JCR suffers from poor institutional memory.</li>
</ol>

This JCR believes:

<ol>
	<li>That a large up-front fee would dissuade potential applicants from&nbsp;choosing Balliol, especially those for whom financial considerations are at&nbsp;the forefront of their decision making.</li>
	<li>That the College should keep JCR representatives informed both of its financial&nbsp;situation and of any plans to introduce new charges well in advance.</li>
	<li>That future attempts by the College to introduce a Domus Charge-style levy&nbsp;should be resisted by all available means deemed necessary.</li>
</ol>
<h2>Ethnic Minorities and Overseas</h2>This JCR believes:

<ol>
	<li>It is important for ethnic minority and overseas students to be respresented by a JCR officership, both on JCR committee and in the JCR and university as a whole.</li>
	<li>Ethnic Minorities and Overseas students should each be represented by their own dedicated officership, as a combined officership is insufficient to represent the differing concerns of both groups.</li>
</ol>
<h2>Fines</h2>This JCR believes:

<ol>
	<li>That the use of financial penalties for disciplinary matters disproportionately affects low-income students.</li>
</ol>

This JCR resolves:

<ol>
	<li>To request that the Dean does not punish the JCR or a subset of the JCR for any action carried out by a smaller subset of the JCR.</li>
	<li>To request that the Dean treat JCR members with courtesy and respect in communication about incidents.</li>
</ol>
<h2>Fire Safety</h2>This JCR notes:

<ol>
	<li>College\u2019s practice of testing the fire alarm at 8am in 1st Week.</li>
	<li>College\u2019s restrictions on having toasters.</li>
</ol>

This JCR believes:

<ol>
	<li>That this time is unreasonably early, and causes people to ignore the alarm so that they don\u2019t have to get out of bed or the shower.</li>
	<li>That this restriction is excessively harsh given the limited availability of kitchenettes, many of which lack even a communal toaster.</li>
</ol>

This JCR resolves:

<ol>
	<li>To request that fire drills be held at a later hour, which should result in increased participation by JCR members.</li>
	<li>To request that at the very least, all kitchenettes should have a communal toaster.</li>
</ol>
<h2>Free Drinks at Bops</h2>This JCR believes:

<ol>
	<li>That enabling certain individuals to claim free drinks at a bop is a corrupt use of JCR resources.</li>
</ol>

This JCR resolves:

<ol>
	<li>That no JCR member shall acquire free drinks at a bop.</li>
</ol>
<h2>Free-Range Eggs</h2>This JCR believes:

<ol>
	<li>Battery farming is an ethically unsound practice that should not be supported by JCR services.</li>
</ol>

This JCR resolves:

<ol>
	<li>That Pantry should buy exclusively free range eggs, regardless of the difference in price between free range and "budget" eggs.</li>
</ol>
<h2>Future Outlook</h2>This JCR notes:

<ol>
	<li>The level of student interest in careers which are not purely profit-orientated but which incorporate social and environmental concerns.</li>
</ol>

This JCR believes:

<ol>
	<li>That this interest is not adequately catered for by the annual Guild Careers Fair.</li>
</ol>

This JCR resolves:

<ol>
	<li>To support fully the principle of Future Outlook, the ethical and alternative careers fair and forum, which focuses on the public sector, ethical and sustainable business, non-governmental organisations, voluntary and charity work and post-graduate courses.</li>
</ol>
<h2>Green Energy</h2>This JCR believes:

<ol>
	<li>As a responsible institution, we have a duty to minimise our impact on the environment.</li>
</ol>

This JCR resolves:

<ol>
	<li>To lobby College and the University to switch to and retain a renewable energy supplier in order to minimise impact on the environment.</li>
</ol>
<h2>Harassment</h2>This JCR resolves:

<ol>
	<li>To refuse to tolerate harassment of any form, on any basis, against any of its members.</li>
</ol>
<h2>Indiscriminate Charges</h2>This JCR notes:

<ol>
	<li>That Bursarial attempts were made last term to introduce a fixed charge of \u00a345 for those who live in and \u00a321 for those who live out in order to cover the College catering deficit.</li>
</ol>

This JCR resolves:

<ol>
	<li>To oppose any indiscriminate charges levied against its members, individually or collectively, to cover college deficits.</li>
</ol>
<h2>International Students Fees</h2>This JCR believes:

<ol>
	<li>That the university and Oxford colleges should be more open in the fees that they charge for international students.</li>
	<li>That any changes in charges should be informed in advance.</li>
	<li>That any increase in the level of university and college international student fees should be justified by an explanation of how the increase is commensurate with academic provision.</li>
	<li>That all colleges should allow international students to pay their fees in instalments.</li>
	<li>That students allowed to pay fees in instalments should not be charged more than those who pay at the beginning of the academic year.</li>
</ol>
<h2>IT Policy</h2>This JCR believes:

<ol>
<li>An IT policy would be important when;</li>

	<ol> 
<li>planning sustainable and ethical services that the JCR should provide.</li>

	<li>encouraging the College and University to alter their IT provision.</li>

	<li>ensuring that the JCR meets the IT needs of its members adequately.</li>
</ol>
</ol>

This JCR resolves:

<ol>
<li>That the JCR includes the following IT Policy, found <a href="https://ballioljcr.org/itpolicy.pdf">here</a> in its standing Policy.</li>

<li>That the policy acts as a best practice guideline for all JCR activities involving IT.</li>

<li>That this is kept relevant and up to date by the current JCR Website and Computing Officer and influenced by JCR members.</li>
</ol>
<h2>JACARI</h2>This JCR notes:

<ol>
	<li>Ethnic minority children often face difficulties in England because early problems with learning English mean that they never catch up with their English counterparts.</li>
	<li>JACARI was set up forty years ago to achieve equality of opportunity for ethnic minority children.</li>
	<li>JACARI organises Oxford students as home teachers who visit the children, teach them basic English and help them with their general studies so as to enable them to achieve their potential.</li>
</ol>

This JCR resolves:

<ol>
	<li>To support the Joint Action Committee Against Racial Intolerance.</li>
</ol>
<h2>June Jamboree</h2>This JCR believes:

<ol>
	<li>That holding a June Jamboree for the whole college community is a good thing.</li>
	<li>The June Jamboree should be held at the end of Trinity Term, with such date and time to be confirmed at a GM.</li>
	<li>The Jamboree needs to be thought about at an early stage in order to get the appropriate bar licences sorted out in time.</li>
	<li>The JCR should be able to seek external sponsorship for the June Jamboree.</li>
</ol>
<h2>LEDC Debt</h2>This JCR notes:

<ol>
	<li>Less Economically Developed Countries (LEDCs) owe certain More Economically Developed Countries (MEDCs) staggering amounts of money \u2013 in the region of $4 trillion.</li>
	<li>The amount of aid given per year for development purposes by MEDCs is approximately $160 billion; a small percentage of the debt owed.</li>
	<li>Debts have been cancelled before, for example for Britain and Germany after the Second World War.</li>
	<li>The people of most of these countries had no say in how their debt was run up; it is often by corrupt, unelected dictators and rapacious asset-stripping of foreign governments and corporations.</li>
	<li>That debt in LEDCs stunts their economic development and entrenches their economic inequality with MEDCs.</li>
	<li>\u2018LEDCs\u2019 and \u2018MEDCs\u2019 refer to countries that fit the UN definition of these terms in 2015.</li>
	<li>These statistics were accurate as of the period 2012-2015.</li>
</ol>

This JCR believes:

<ol>
	<li>It is a principle of justice to cancel these debts in acknowledgement of many MEDCs\u2019 exploitation of some LEDCs.</li>
	<li>It is a moral necessity to cancel these debts when children and adults are dying.</li>
	<li>That there is an economic imperative to cancel the debts that make these countries slower to economically develop and play a full role in the world economy.</li>
</ol>

This JCR resolves:

<ol>
	<li>To support the cancellation of LEDC debt.</li>
</ol>
<h2>LGBTQ Rights</h2>This JCR notes:

<ol>
	<li>That the LGBTQ Society is the foremost point of welfare and social contact for the gay community of Oxford students.</li>
	<li>That Balliol JCR fully supported the abolition of Section 28 as homophobic and injurious to LGBTQ teenagers, and as an unacceptable inequality before the law.</li>
</ol>

This JCR believes:

<ol>
	<li>That no one should be harassed, discriminated against, or marginalised on the basis of their sexuality, and that there is no place for such harassment, discrimination or marginalisation in this JCR.&nbsp;</li>
	<li>That one of the best ways to combat discrimination is to raise awareness.</li>
	<li>That all LGBTQ people should have the following rights:
	<ul>
		<li>To have sex at the same age and under the same circumstances as heterosexuals, and to be permitted to engage in any sexual activity to which both/all partners consent.</li>
		<li>To have legally recognised partnerships.</li>
		<li>To have and adopt children, and to bring them up as they see fit.</li>
		<li>To have equal employment opportunities in all occupations and not to be dismissed from their job on the basis of their sexuality.</li>
		<li>To have adequate health information and provision.</li>
		<li>To have their existence fairly recognised in education, discussion and literature in schools.</li>
		<li>To live without persecution, discrimination and intimidation.</li>
	</ul>
	</li>
	<li>That LGBTQ persons should have access to information about differing sexualities while at school.</li>
	<li>In equality between LGBTQ and straight persons and between cis-gender and trans* persons.</li>
	<li>That it is unfortunate that Balliol has traditionally done very little in the fight for equality for LGBTQ persons.</li>
</ol>
<h2>Living Wage Campaign</h2>This JCR believes:

<ol>
	<li>That the Living Wage campaign's minimum income calculation is an accurate account of how much someone needs to live on in Oxford.</li>
	<li>That there are both moral and economic arguments in favour of the Living Wage.</li>
	<li>That the JCR is proud of its status as a Living Wage employer and should remain so in the future.</li>
</ol>

This JCR further believes:

<ol>
	<li>That the JCR should be proud of the financial and logistical assistance it has provided to the Living Wage campaign.</li>
	<li>That the JCR should be able to continue funding political campaigns in the future.</li>
</ol>
<h2>Living Wage Campaign II</h2>This JCR believes:

<ol>
	<li>That all workers in the university and colleges should be paid a living wage and have the right to join a union.</li>
	<li>That we should support the Oxford University Living Wage Campaign.</li>
	<li>That as a matter of principle we should take an interest in the lives of those who work for the university that provides our education. Should workers at the university have concerns about their work, we should be prepared to stand by them in advocating change.</li>
	<li>Communication between students and workers is essential to a successful Living Wage campaign.</li>
	<li>Communication between students and workers is desirable as an end in itself.</li>
	<li>That students and workers have a fundamental right to freely communicate their opinions.</li>
</ol>
<h2>Nestl\u00e9 Boycott</h2>This JCR notes:

<ol>
	<li>That Nestl\u00e9 is responsible for ongoing and systematic violations of the WHO/UNICEF&nbsp;International Code of Marketing of Breastmilk Substitutes.</li>
	<li>That Nestl\u00e9\u2019s violations include promotion through health care systems, direct targeting of mothers and pregnant women with advertising, labelling products with idealising health and nutrition claims, and refusing to provide instructions for preparing the formula in a safe and sterile way.</li>
	<li>That according to the WHO, artificially fed babies are more likely to become sick than breastfed babies and, in conditions of poverty, more likely to die.</li>
	<li>That Nestl\u00e9 is the target of a boycott currently run by Baby Milk Action, and a campaign promoting Nestl\u00e9-Free Zones was launched in May 2014.</li>
	<li>That in March 2001 Nestl\u00e9 rejected Baby Milk Action\u2019s four-point plan aimed at saving infant lives and ultimately ending the boycott and has repeatedly rejected it in the years since then. The four-point plan states:
	<ul>
		<li>Nestl\u00e9 must accept in writing that the&nbsp;International Code&nbsp;and the subsequent, relevant Resolutions are minimum requirements for every country.</li>
		<li>Nestl\u00e9 must acknowledge in writing that it needs to change its policy and practice to bring them into line with the International Code and Resolutions in every country (i.e. explicitly drop its strategy of denial and deception).</li>
		<li>Once Nestl\u00e9 has made its commitment to change clear, Baby Milk Action will take the statements to the International Nestl\u00e9 Boycott Committee (INBC) and suggest that a meeting with Nestl\u00e9 to discuss its timetable for making the changes.</li>
		<li>If IBFAN monitoring finds no violations from Nestl\u00e9 for 18 months, the boycott will be called off.</li>
	</ul>
	</li>
</ol>

This JCR believes:

<ol>
	<li>That a consumer boycott is a peaceful and effective way of encouraging a company to behave, and helps to keep this issue in the public and media spotlight.</li>
	<li>That Nestl\u00e9 should abide by the WHO/UNICEF&nbsp;International Code of Marketing of Breastmilk Substitutes&nbsp;and subsequent, relevant Resolutions in their entirety as a minimum requirement in all countries.</li>
</ol>

This JCR resolves:

<ol>
	<li>To boycott the purchase, sale or endorsement of Nestle products, either by or for the JCR, until such a time as Baby Milk Action chooses to end the boycott.</li>
	<li>To call on Nestl\u00e9 to conform to the&nbsp;International Code of Marketing of Breastmilk Substitutes and to act swiftly to end all violations reported to it.</li>
	<li>To call on Nestl\u00e9 to accept Baby Milk Action\u2019s four-point plan for saving infant lives and ultimately ending the boycott, and to act upon it.</li>
	<li>To lobby College to join the Nestle boycott, if they have not already done so.</li>
</ol>
<h2>OUSU 'No-Platform' Policy</h2>This JCR believes:

<ol>
	<li>In relation to the OUSU no-platform policy, that OUSU should resolve to:
	<ul>
		<li>empower the OUSU Executive to deny any OUSU medium (except those already covered in independent agreements) to individuals attempting to use such mediums to advocate, incite or perpetrate violence against other individuals, groups or communities such as ethnic, religious, cultural and sexual minorities. An OUSU 'medium' within the terms of this policy shall include all OUSU elections, referenda and office resources, other than those covered in independent agreements.</li>
		<li>empower the OUSU Executive to deny any OUSU medium (except those already covered in independent agreements) to individuals attempting to use such mediums to actively aid individuals or groups in efforts to advocate, incite or perpetrate violence against other individuals groups or communities such as ethnic, religious, cultural and sexual minorities.&nbsp;</li>
	</ul>
	</li>
	<li>That any decision taken by the OUSU Executive in either of the above regards must be ratified by a simple majority of Council at the earliest possible opportunity. In instances relating to OUSU elections and referenda, the decision taken by the OUSU Executive must be ratified by an Extraordinary Session of Council to vote solely on this issue, which shall be called immediately after the Executive's decision, unless there is an Ordinary Council being held within the notice period of the Extraordinary Council.</li>
</ol>
<h2>Pantry</h2>This JCR resolves:

<ol>
	<li>To encourage people by posters and word of mouth to take their used plates and cutlery off the lawn. Also when in the Norway Room, TV Room and Lindsay Bar, to take their used plates and cutlery to the trolley next to the Pantry door, or if there is no room, to one of the tables nearest to Pantry.</li>
	<li>To always be polite to the Pantry staff who so tirelessly and cheerfully feed us chips, bacon butties and strong cups of tea.</li>
	<li>To accept that the JCR Pantry is a subsidised service and so may lose money.</li>
</ol>
<h2>Peaceful Protest</h2>This JCR believes:

<ol>
	<li>That the right to protest is important, both to students and to other groups.</li>
	<li>That peaceful occupation is a legitimate means of protest.</li>
</ol>

This JCR resolves:

<ol>
	<li>To support the right to peaceful protest, including through occupation.</li>
</ol>
<h2>Peer Support</h2>This JCR notes:

<ol>
	<li>The College pays the annual fee for training peer supporters from the JCR and MCR as well as providing \u00a380 per term for Peer Support-related events</li>
	<li>A peer supporter is a trained listener and not a trained advisor and can refer somebody on to a welfare officer or other support.</li>
</ol>

This JCR believes:

<ol>
	<li>That training peer supporters each year from the JCR is a good thing.</li>
	<li>A peer supporter can be any member of the JCR, not just a welfare officer.</li>
	<li>It is a good thing for College to underwrite the cost of Peer Support training and to provide support for various events.</li>
</ol>

This JCR resolves:

<ol>
	<li>To train members of the JCR each year as peer supporters.</li>
	<li>To mandate the Welfare Subcommittee to advertise these positions.</li>
	<li>To ask the trained peer supporters to act as co-ordinators of the following year's peer supporter selection.</li>
</ol>
<h2>Photograph</h2>This JCR resolves:

<ol>
	<li>To support the taking of a JCR photograph on one day in Trinity term.</li>
</ol>
<h2>Punting</h2>This JCR believes:

<ol>
	<li>That the JCR should hire a punt for the use of JCR and MCR members for Trinity Term.</li>
	<li>That running punts at a loss is a bad thing.</li>
	<li>That it is better to allow JCR members to punt for free by charging a levy to cover the cost, and thus ensuring no loss is made.</li>
</ol>
<h2>Racism</h2>This JCR resolves:

<ol>
	<li>To condemn racist attacks of all sorts and intentions.</li>
	<li>To condemn discrimination on the basis of race.</li>
	<li>To support justice for the victims of violence in police custody and in prisons, for the victims of racist murders, and for immigrants and asylum seekers.</li>
</ol>
<h2>Safer Sex</h2>This JCR believes:

<ol>
	<li>That safer sexual practices for all should be promoted.</li>
	<li>That the safer sex scheme of efficient distribution of condoms and lubricant previously operated by the JCR will not be effective if we only have the free supplies available to us.</li>
	<li>That the JCR should supply condoms and lubricant to ensure safer sexual practices by members of the JCR.</li>
</ol>

This JCR resolves:

<ol>
	<li>To take the free condom supply available to us from OUSU.</li>
	<li>To participate in the bulk buying scheme operated by OUSU.</li>
	<li>To fund these additional condoms by cresting an optional levy of 20p per term per member of the JCR.</li>
	<li>To mandate the Welfare Subcommittee to:
	<ul>
		<li>Advertise the availability of these condoms and lubricant in College.</li>
		<li>Advertise the availability of dental dams from OUSU.</li>
	</ul>
	</li>
</ol>
<h2>Sexual Harassment and Victim Blaming</h2>This JCR believes:

<ol>
	<li>That sexual harassment or assault of any kind is never acceptable.&nbsp;</li>
	<li>That victim blaming is never acceptable.</li>
</ol>

This JCR resolves:

<ol>
	<li>To make clear to all of its members that it does not condone any sexual harassment or assault.</li>
	<li>To support the survivors of sexual harassment or assault.</li>
</ol>
<h2>Slates</h2>This JCR believes:

<ol>
	<li>That, as far as Balliol JCR elections are concerned, slates are bad things.</li>
	<li>That if the Oxford Union has contributed anything towards the integrity of the electoral process, it is to show that slates cause problems.</li>
	<li>That slates promote the candidates involved outside of their own manifestos, despite the fact that the manifesto is supposed to be their only means of campaigning (excluding hustings, as specified in the Constitution\u2019s election regulations).</li>
	<li>That a slate has the potential to unfairly undermine other candidates not running on a slate.</li>
	<li>That in order to be as fair as possible all candidates should conduct their own campaigns, and not involve themselves in any way with the campaigns of others.</li>
</ol>
<h2>Smoking</h2>This JCR believes:

<ol>
	<li>That individuals have the right to smoke.</li>
	<li>That College is wrong in proposing to enforce a blanket ban on smoking.</li>
</ol>
<h2>Sponsorship of a Child</h2>This JCR believes:

<ol>
	<li>That the JCR's sponsoring of a child is a good thing, and should continue.</li>
</ol>
<h2>Staff Christmas Bonus</h2>This JCR notes:

<ol>
	<li>That JCR staff work consistently hard for the JCR and many of them have worked for us for a long time.</li>
</ol>

This JCR believes:

<ol>
	<li>That the JCR staff Christmas bonus is a good thing.</li>
</ol>
<h2>Target Schools</h2>This JCR believes:

<ol>
	<li>That Target Schools Open Days are a good thing and encourage lots of state school students to apply to Oxford and hopefully to Balliol in particular.</li>
</ol>

This JCR resolves:

<ol>
	<li>To allow Target Schools to use pantry facilities to provide Target School sixth formers with tea and coffee.</li>
</ol>
<h2>Terrorism</h2>This JCR resolves:

<ol>
	<li>To unreservedly condemn all terrorism.</li>
	<li>To stand in sympathy with the victims of terrorism and their families.</li>
</ol>
<h2>The Social Model of Disability</h2>This JCR believes:

<ol>
	<li>That disabled people have historically been excluded from mainstream society and can continue to face discrimination and prejudice leading to disadvantage and exclusion.</li>
	<li>That disability is a result of the barriers faced by people with impairments.</li>
	<li>That while many individuals have physical or sensory impairments or learning difficulties or are living with mental health conditions, it is not the individual\u2019s impairment which creates disability but the way in which society responds to these impairments, either consciously or subconsciously.</li>
	<li>That society can and should pro-actively remove barriers that result in disabled people being excluded from society.</li>
	<li>That disabilism \u2013 discrimination, harassment or marginalisation of disabled people \u2013 is a form of oppression in the same way as is racism, sexism and homophobia.</li>
	<li>That no-one should be oppressed because they are disabled.</li>
</ol>

This JCR resolves:

<ol>
	<li>To remove barriers,&nbsp;wherever and whenever possible, that result in disabled people being excluded from its activities and services.</li>
	<li>To strongly encourage other bodies, wherever and whenever possible, to remove barriers that result in disabled people being excluded.</li>
</ol>
<h2>Top-up Fees</h2>This JCR believes:

<ol>
	<li>That Oxford, like other universities, is in urgent need of more funding.</li>
	<li>That this funding should not come from students.</li>
</ol>
<h2>Tortoises</h2>This JCR resolves:

<ol>
	<li>To endeavour to replace Matilda with a new, not-ill, race-winning tortoise, as soon as possible.</li>
</ol>
<h2>Transgender Rights</h2>This JCR believes:

<ol>
	<li>That transgender people have the right to be legally recognised in their chosen gender.</li>
</ol>
<h2>United Kingdom Border Agency</h2>This JCR believes:

<ol>
	<li>That international students are valued and valuable members of the Oxford community.</li>
	<li>That the current policy of UKBA marginalises international students and cultivates an athmosphere of suspicion and prejudice.</li>
	<li>That these policies compromise Oxford University's efforts to achieve openness and cross-cultural understanding.</li>
</ol>
<h2>Vacation Residence</h2>This JCR notes:

<ol>
	<li>That vacation residence (the ability to retain your college room beyond full term) was recently effectively abolished in order to make more college rooms available for conference business.&nbsp;</li>
	<li>That Oxford terms are often extremely hectic, with little time for things like reading around one's subject or enjoying the city.</li>
	<li>That prior to 1980 it was normal for Oxford students to stay in residence throughout the vacation and that old members report that the vacations were often the most pleasurable, productive and intellectually fertile periods of their degree course.&nbsp;</li>
</ol>

This JCR believes:

<ol>
	<li>That students should have the right to obtain vacation residence whenever required.</li>
	<li>That having a significant number of students stay for a large parts of the vacations would be a welcome return to the pre-1980 culture of college life, and that it would be beneficial in many ways to both our education and the quality and quantity of time spent in Oxford.</li>
</ol>
<h2>West Papua</h2>This JCR notes:

<ol>
	<li>That West Papua is currently occupied illegally by Indonesia</li>
	<li>That since Indonesia has occupied West Papua, the military (which controls the island) has murdered over 300,000 of the indigenous population</li>
	<li>That BP which considers itself green and ethical has recently started operating in West Papua</li>
	<li>That BP has promised $14 million to Oxford University for a new research centre and BP chair of economics in 2006.</li>
</ol>

This JCR believes:

<ol>
	<li>That Indonesia is illegally occupying West Papua, and that Papuans have the right to a fair referendum on independence</li>
	<li>That the Indonesian government's imprisonment of Filep Karma and Yusak Pakage for 10 and 15 years respectively for raising the Papuan national flag is wrong .</li>
	<li>That BP, despite claims to 'honesty and integrity' in its dealings is operating unethically and in the midst of a genocide</li>
	<li>That the University is implicitly condoning the actions of BP and companies like it by accepting its money and sponsorship</li>
</ol>
<br/>        </div>
      </section>
